@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

@font-face {
    font-family: Oswald;
    src: url('/fonts/Oswald/static/Oswald-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: Oswald;
    src: url('/fonts/Oswald/static/Oswald-Bold.ttf');
    font-weight: bold;
}


/**/
/* SEKCE - CELEHO DOKUMENTU */
/**/

html {
    font-size: 15px;
    background: #e0dbe3;
}


body {
    padding: 140px 0px 0px 0px;
    margin: 0; /* aby se neprojevilo defaultni odsazeni od dokumentu */
    box-sizing: border-box; /* aby se padding zapocitaval do sirky a vysky */
    color: #414042;
    background: #e0dbe3;
    font-family: "Poppins", "Oswald", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem ;
}

/**/
/* SEKCE - HEADER (v body) */
/**/

body > header {
    margin: 0px;
    padding-top: 30px;
    position: fixed !important;
    z-index: 1 !important;
    top: 0 !important;
    height: 140px;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
}

.touchbutton:hover {
    border: 1px solid #0d6efd ;
}


/**/
/* SEKCE - ARTICLE */
/**/

/* definuje pravy ramecek od urcite velikosti ve skills.html */
@media (min-width: 768px) {
    .border-md-end {
        border-right: 1px solid black;
    }
}


article {
    /* box-shadow: 1px 1px 2px black; */
    padding: 50px;
    font-family: "Poppins", "Oswald", Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto 0 auto;
    max-width: 960px;
    min-height: 90dvh;
}

article h1 {
    padding: 10px 0px 0px 0px;
    color: #052c65;
}

article h2,
article h3,
article h4,
article h5,
article h6 {
    padding: 10px 0px 0px 0px;
    color: #052c65;
    text-transform: uppercase;
}

article h2 {
    font-size: 1.7em;
}

/* tady musí být header přímo za article*/
article > header {
}

/* tadymůže být header jen uvnitř article*/
article header {
    height: 80px;
}

article section p {
    margin-top: 1.5rem;
    line-height: 1.8em;
    text-align: justify;
}

article section a {
    color: #EF6534;
}


.profilovafotografie {
    margin: 50px 0px 40px 40px;
    filter: grayscale(100%);
}